<div class="ec-modal">
    <input type="checkbox" id="ec-modal-checkbox" class="checkbox">
    <div class="ec-modal-overlay">
        <label for="ec-modal-checkbox" class="ec-modal-overlay-close"></label>
        <div class="ec-modal-wrap">
            <label for="ec-modal-checkbox" class="ec-modal-close"><span class="ec-icon"><img src="{{ asset('assets/icon/cross-dark.svg') }}" alt=""/></span></label>
            {# <div id="ec-modal-header" class="text-center">{{ 'カートに追加しました。'|trans }}</div> #}
            <div class="ec-modal-box">
                <div class="ec-role">
                   <table class="komoju_detail_table">
                        <thead>
                            <tr>
                                <th>英語表記</th>
                                <th>日本語表記</th>
                                <th>ロゴ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Bank Transfer</td>
                                <td>銀行振込</td>
                                <td>なし</td>
                            </tr>
                            <tr>
                                <td>Convenience Store Payment (Konbini)</td>
                                <td>コンビニ</td>
                                <td>
                                    <img src="https://docs.komoju.com/images/konbini/daily-yamazaki.svg" class="svg-payment-icon" alt="daily-yamazaki">
                                    <img src="https://docs.komoju.com/images/konbini/family-mart.svg" class="svg-payment-icon" alt="family-mart">
                                    <img src="https://docs.komoju.com/images/konbini/lawson.svg" class="svg-payment-icon" alt="lawson">
                                    <img src="https://docs.komoju.com/images/konbini/ministop.svg" class="svg-payment-icon" alt="ministop">
                                    <img src="https://docs.komoju.com/images/konbini/seicomart.svg" class="svg-payment-icon" alt="seicomart">
                                    <img src="https://docs.komoju.com/images/konbini/seven-eleven.svg" class="svg-payment-icon" alt="seven-eleven">
                                </td>
                            </tr>
                            <tr>
                                <td>Credit Card</td>
                                <td>クレジットカード</td>
                                <td>
                                    <img src="https://docs.komoju.com/images/documentation/payment_methods/visa.svg" class="svg-payment-icon" alt="Visa">
                                    <img src="https://docs.komoju.com/images/documentation/payment_methods/mastercard.svg" class="svg-payment-icon" alt="Mastercard">
                                    <img src="https://docs.komoju.com/images/documentation/payment_methods/jcb.svg" class="svg-payment-icon" alt="Jcb">
                                    <img src="https://docs.komoju.com/images/documentation/payment_methods/americanexpress.svg" class="svg-payment-icon" alt="Americanexpress">
                                    <img src="https://docs.komoju.com/images/documentation/payment_methods/diners_club.svg" class="svg-payment-icon" alt="Diners club">
                                </td>
                            </tr>
                            <tr>
                                <td>PayEasy</td>
                                <td>ペイジー</td>
                                <td>
                                    <img src="https://docs.komoju.com/images/documentation/payment_methods/payeasy.svg" class="svg-payment-icon" alt="pay-easy">
                                </td>
                            </tr>
                            <tr>
                                <td>WebMoney</td>
                                <td>ウェブマネー</td>
                                <td><img src="https://docs.komoju.com/images/documentation/payment_methods/webmoney.svg" class="svg-payment-icon" alt="web-money"></td>
                            </tr>
                            <tr>
                                <td>NET CASH</td>
                                <td>NET CASH</td>
                                <td>
                                    <img src="https://docs.komoju.com/images/documentation/payment_methods/netcash.svg" class="svg-payment-icon" alt="net-cash">
                                </td>
                            </tr>
                            <tr>
                                <td>BitCash</td>
                                <td>ビットキャッシュ</td>
                                <td>
                                    <img src="https://docs.komoju.com/images/documentation/payment_methods/bitcash.svg" class="svg-payment-icon" alt="bit-cash">
                                </td>
                            </tr>
                            <tr>
                                <td>Carrier Billing</td>
                                <td>キャリア決済</td>
                                <td>
                                    <img src="https://docs.komoju.com/images/documentation/payment_methods/au.svg" class="svg-payment-icon" alt="au">
                                    <img src="https://docs.komoju.com/images/documentation/payment_methods/docomo.svg" class="svg-payment-icon" alt="docomo">
                                    <img src="https://docs.komoju.com/images/documentation/payment_methods/softbank.svg" class="svg-payment-icon" alt="softbank">
                                </td>
                            </tr>
                            <tr>
                                <td>PayPay</td>
                                <td>PayPay</td>
                                <td>
                                    <img src="https://docs.komoju.com/images/documentation/payment_methods/pay_pay.svg" class="svg-payment-icon" alt="paypay">
                                </td>
                            </tr>
                            <tr>
                                <td>LINE Pay</td>
                                <td>LINE Pay</td>
                                <td>
                                    <img src="https://docs.komoju.com/images/documentation/payment_methods/linepay.svg" class="svg-payment-icon" alt="linepay">
                                </td>
                            </tr>
                            <tr>
                                <td>Merpay</td>
                                <td>メルペイ</td>
                                <td>
                                    <img src="https://docs.komoju.com/images/documentation/payment_methods/merpay.svg" class="svg-payment-icon" alt="merpay">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .komoju_detail_table{
        width: 100%;
        margin: 30px auto;
        border-collapse: collapse;
        text-align: left;
    }
    .komoju_detail_table tr{
        border: 1px solid #f0f0f0;
    }
    .komoju_detail_table td, .komoju_detail_table th {
        padding: 10px;
    }
    .komoju_detail_table .svg-payment-icon {
        height: 35px;
        margin: 2px;
        width: initial;
    }
</style>
<script>
    $(function () {        
        var komoju_method = $("label[for='shopping_order_Payment_{{komoju_id}}'] span");
        komoju_method.html(`{{ 'komoju_multipay.shopping.komoju_method_label'|trans }}（決済方法の詳細は<a class="komoju_method_detail">こちら</a>）`);

        $(".komoju_method_detail").click(function(event){
            event.preventDefault();
            $('#ec-modal-checkbox').prop('checked', true);            
            event.stopPropagation();
        });
    });

</script>

